//- doctype html
//- html
//-   head
//-     meta(charset="UTF-8")
//-     meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-     link(rel="stylesheet", href="/css/style1.css")
//-     title Online Hex Viewer
//-   body
//-     .container
//-       form(action="/update1" method="post" enctype="multipart/form-data")
//-         input(type="file" name="file")
//-         //- textarea#textInput(placeholder="Or enter text...")
//-         button(type="submit") Upload and View
//-       div
//-         h3 Hexadecimal Representation:
//-         pre#hexOutput
//-       div
//-         h3 ASCII Representation:
//-         pre#asciiOutput
//- script(src="/js/script1.js")

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style1.css")
    title Online Hex Viewer
  body
    nav.navbar
      img.logo(src="/images/bytecraft1.png", alt="Logo")
      ul.nav-links
        li.nav-item
          a(href="/upload") Home
        li.nav-item
          a(href="https://github.com/Eve-SatOrU/ByteCraft") Documentation
        li.nav-item
          a(href="/") Convert
        li.nav-item
          a(href="#contact") Contact
    .container
      form(action="/update1" method="post" enctype="multipart/form-data")
        input(type="file" name="file")
        button(type="submit") Upload and View
      div.row
        div.col
          h3 Hexadecimal Representation:
          pre#hexOutput
        div.col
          h3 ASCII Representation:
          pre#asciiOutput
script(src="/js/script1.js")
