doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style1.css")
    title Online Hex Viewer
  body
    nav.navbar
      //- img.logo(src="/images/bytecraft1.png", alt="Logo")
        a(href="/") 
      a(href="/")
        img.logo(src="/images/bytecraft1.png", alt="Logo")
      ul.nav-links
        li.nav-item
          a(href="/") Home
        li.nav-item
          a(href="https://github.com/Eve-SatOrU/ByteCraft") Documentation
        li.nav-item
          a(href="/upload") Upload
        li.nav-item
          a(href="/contact") Contact
    .container
      textarea#textInput(placeholder="Enter text...")
      div
          h3 Hexadecimal Representation:
          pre#hexOutput
      div
          h3 Binary Representation:
          pre#binaryOutput
script(src="/js/script.js")
