doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Online Hex Viewer
    style.
      textarea {
        width: 100%;
        height: 200px;
      }
    //- script(src="/app.js")
  body
    form(action="/update1" method="post" enctype="multipart/form-data")
      input(type="file" name="file")
      textarea#textInput(placeholder="Or enter text...")
      button(type="submit") Upload and View
    div
      h3 Hexadecimal Representation:
      pre#hexOutput
    div
      h3 ASCII Representation:
      pre#asciiOutput
script(src="/js/script1.js")